extends layout

block content	
	form(action='/users/login',method='put')
		p: input(type='text', placeholder="Username")
		p: input(type='password', placeholder="Password")
		p: input(type='submit', value="Login")
	
	img(src= "/images/scary.gif")