body {
	font-family: Verdana;
	font-size: 13px;
	background: #eee;
}

h1, h2, h3 { font-size: 22px; color: #464646; }

h2 { font-size: 14px; }

h3 { font-size: 14px; }

a { color: #C2575B; text-decoration: none; }

a:hover { color: #F76F76; }

.rightArea {
	width: 25%;
	background: white;
	padding: 10px;
	float:right;
}

#wrapper {
	background-color: orange;
}

.highlight {
	color: red;
}