*, *:before, *:after {
	box-sizing: border-box;
}
a {
	color: #ff4081;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
html {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
body {
	font-size: 15px;
	line-height: 24px;
}

.active-route {
	color: red;
}

.heatingUpText {
	animation: heating-up-text 5s linear infinite;
}

.onFire {
	animation: on-fire-text 5s linear infinite;
}

.heatingUp {
	animation: heating-up 5s linear infinite;
}

.onFire {
	animation: on-fire 5s linear infinite;
}

@keyframes heating-up-text {
	50% {
		color: #CC5200;
	}
}
@keyframes heating-up {
	0% {
		background-color: #ffd1b3;
	}
	25% {
		background-color: #ffb380;
	}
	50% {
		background-color: #ffa366;
	}
	75% {
		background-color: #ffb380;
	}
	100% {
		background-color: #ffd1b3;
	}
}

@keyframes on-fire-text {
	25% {
		color: #CC5200;
	}
	50% {
		color: #FF3300;
		font-size: 1.1em;
	}
	75% {
		color: #CC5200;
	}
}

@keyframes on-fire {
	0% {
		background-color: #ff4d4d;
	}
	25% {
		background-color: #ff8566;
	}
	50% {
		background-color: #e62e00;
	}
	75% {
		background-color: #ff8566;
	}
	100% {
		background-color: #ff4d4d;
	}
}
